body{
    background-color: #1579c6;
}
.quiz {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 100px;
}
.knapp {
    background-color: white;
    color: #050505;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}
#nesteKnapp {
    background-color: #1579c6;
    color: white;
    width: 100px;
    padding: 10px;
    margin: 20px auto 0 ;
    border-radius: 4px;
    display: none;
}
#sluttside {
    display: none;
}
